<%- layout('../layout') %>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Team 342 <%= capitalize(subteam.name) %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive" src="<%= subteam.image_url %>">
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>About</h4></div>
        <div class="panel-body">
          <p><%= subteam.about %></p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Resources</h4></div>
        <div class="list-group">
          <% for (var resource = 0; resource < subteam.resources.length; resource++) { %>
          <a class="list-group-item" href="<%= subteam.resources[resource].url %>" data-toggle="tooltip" title="">
            <%= subteam.resources[resource].title %>
          </a>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <h2 class="page-header">Students</h2>
    </div>
  </div>

  <% for (var index = 0; index < students.length; index++) { %>
  <% var student = students[index]; %>

  <% if ((index % 3) == 0) { %>
  <div class="row">
  <% } %>

  <%- include ../partials/student %>

  <% if ((index % 3) == 2) { %>
  </div>
  <% } %>
  <% } %> 

  <div class="row">
    <div class="col-lg-8">
      <h2 class="page-header">Mentors</h2>
    </div>
  </div>

  <% for(var index = 0; index < mentors.length; index++) { %>
  <% var mentor = mentors[index]; %>

  <% if ((index % 3) == 0) { %>
  <div class="row">
  <% } %>

    <%- include ../partials/mentor %>

  <% if ((index % 3) == 2) { %>
  </div>
  <% } %>
  <% } %>
  </div>
</div>
