<%- layout('../layout') %>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Team 342 Blog</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <div class="post">
        <h1><%= post.title %></h1>
        <p class="lead">by <%= post.author %></p>
        <hr>
        <div>
          <i class="fa fa-clock-o"></i> Posted on <%= post.date.toFormat("DDDD, MMMM D, YYYY H:MI PP") %>
        </div> 
        <hr>
        <p class="post-content"><%- post.content %></p>
        <hr>
      </div>
      </p>
    </div>
  </div>
</div>